body {
  font-family: Helvetica;
  text-align: center;
}

.header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

a {
  font-size: 18px;
  color: white;
}

h1 {
  font-size: 70px;
  color: white;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer p {
  font-size: 11px;
}

.footer {
  color: white;
  background-color: dimgray;
}
